<div class="jumbotron center">
     <h1>My Pins App <%= image_tag 'pin.png' %> </h1> 
        
       <p>
         <%= link_to "Log in", new_user_session_path, class: "btn btn-default btn-lg" %>
         <%= link_to "Sign up", new_user_registration_path, class: "btn btn-danger btn-lg" %>

       </p>
       <!-- social media -->

<!-- START SOCIAL MEDIA WIDGET --><center><ul id="socialbar"><li id="facebook"><a target="_blank" href="http://www.facebook.com/lisakjonsson"><IMG src="http://www.topproducerwebsite.com/images/site_defaults/generic/facebook.png"></a></li><li id="twitter"><a target="_blank" href="http://twitter.com/ljonsson"><IMG src="http://www.topproducerwebsite.com/images/site_defaults/generic/twitter.png"></a></li><li id="linkedin"><a target="_blank" href="http://www.linkedin.com/lisajonsson"><IMG src="http://www.topproducerwebsite.com/images/site_defaults/generic/linkedin.png"></a></li></ul><style>#socialbar img {border:0px;}#socialbar li img {width:24px; height:24px;}#socialbar li a:hover {position:relative;top:2px;}#socialbar{padding:0px;list-style: none outside none; margin:0px; position: static;}#socialbar li {display:inline;padding-right:2px;}#socialbar{width:180px;text-align:center;}</style></center><!-- END SOCIAL MEDIA WIDGET -->

</div>