<h2>About</h2>
<div class="interior">
	<p>My name is Lisa. I live in the San Francisco Bay Area and my current project is developing Ruby on Rails apps for deployment on Heroku. The apps will contain a combination of functionality. </p>

	<p>This app includes login capabilities with the use of the Devise gem and layout features of Bootstrap. </p>

	 <div>