@import url(http://fonts.googleapis.com/css?family=Raleway:400,700);

$body-bg:  #2c3e50;
$font-family-sans-serif: 'Raleway', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$navbar-default-bg:  #ecf0f1;
$navbar-default-link-color:  #e74c3c;
$jumbotron-bg: #fff;
$btn-info-bg: #e74c3c;

@import 'bootstrap';

.center {text-align:center;
}
 
 .jumbotron h1 { font-size: 60px; line-height: 1; font-weight:bold; padding:0px; margin: 25px;
  }

 .interior {
border-radius:5px;
background-color: #ecf0f1;
padding: 10px;
}

h2 { color: #ecf0f1;
	
}

body { font-family: 'Raleway', sans-serif;
}
 
